<form class="form-horizontal" role="form" ng-submit="vm.Update()">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="vm.userProfile.name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputBio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputBio" placeholder="Bio" ng-model="vm.userProfile.bio">
    </div>
  </div>
  <div class="form-group">
    <label for="inputURL" class="col-sm-2 control-label">Image URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputURL" placeholder="Image URL" ng-model="vm.userProfile.url">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" ng-submit="vm.Update()" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div ng-if="globals.currentUser" class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Post</h4>
      </div>
      <div class="modal-body">
        <form name="form" ng-submit="vm.Create()" role="form">
          <div class="form-group" ng-class="{ 'has-error': form.message.$dirty && form.message.$error.required }">
            <label for="message">Message</label>
            <textarea type="text" name="message" id="message" class="form-control" ng-model="vm.message" required
              placeholder="What would you like to say?"></textarea>
            <span ng-show="form.message.$dirty && form.message.$error.required" class="help-block">Message
              is required</span>
          </div>
          <div class="form-actions">
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" ng-submit="vm.Create()" class="btn btn-primary" ng-disabled="form.$invalid || vm.dataLoading">Post</button><img
                ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojstrongBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4strongTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>